# Node modules
node_modules/

# Build folders
dist/
build/
.next/

# TypeScript build info
*.tsbuildinfo

# Environment files
.env*
!.env.example

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Admin seeding
server/src/seedAdmin.ts        